<?xml version="1.0"?>
<config>
	<modules>
        <Soclever_Socialshare>
            <version>1.1.1</version>
        </Soclever_Socialshare>
    </modules>
    <frontend>
        <routers>
            <socialshare>
                <use>standard</use>
                <args>
                    <module>Socelver_Socialshare</module>
                    <frontName>socialshare</frontName>
                </args>
            </socialshare>
        </routers>
        <layout>
            <updates>
                <Soclever_Socialshare>
                    <file>socialshare.xml</file>
                </Soclever_Socialshare>
            </updates>
        </layout>
    </frontend>
	<admin>
        <routers>
			<socialshare>
				<use>admin</use>
				<args>
					<module>Soclever_Socialshare</module>
					<frontName>Socialshare admin</frontName>
				</args>
			</socialshare>
        </routers>
    </admin>
	<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <socialshare_options>
                                            <title>Store Social Share Module Section</title>
                                        </socialshare_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>   
	<global>
		<models>
            <socialshare>
                <class>Soclever_Socialshare_Model</class>
            </socialshare>
        </models>
        <resources>
            <socialshare_setup>
                <setup>
                    <module>Soclever_Socialshare</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </socialshare_setup>
            <socialshare_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </socialshare_write>
            <socialshare_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </socialshare_read>
        </resources>
		<blocks>
			<socialshare>
				<class>Soclever_Socialshare_Block</class>
			</socialshare>
		</blocks>
		<helpers>
			<socialshare>
				<class>Soclever_Socialshare_Helper</class>
			</socialshare>
		</helpers>
	</global>
</config>