<?xml version="1.0"?>
<config>
	<modules>
        <Soclever_Socialsharesc>
            <version>1.1.1</version>
        </Soclever_Socialsharesc>
    </modules>
    <frontend>
        <routers>
            <socialsharesc>
                <use>standard</use>
                <args>
                    <module>Socelver_Socialsharesc</module>
                    <frontName>socialsharesc</frontName>
                </args>
            </socialsharesc>
        </routers>
        <layout>
            <updates>
                <Soclever_Socialsharesc>
                    <file>socialsharesc.xml</file>
                </Soclever_Socialsharesc>
            </updates>
        </layout>
    </frontend>
	<admin>
        <routers>
			<socialsharesc>
				<use>admin</use>
				<args>
					<module>Soclever_Socialsharesc</module>
					<frontName>Socialsharesc admin</frontName>
				</args>
			</socialsharesc>
        </routers>
    </admin>
	<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <socialsharesc_options>
                                            <title>Store Social Share Module Section</title>
                                        </socialsharesc_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>   
	<global>
		<models>
            <socialsharesc>
                <class>Soclever_Socialsharesc_Model</class>
            </socialsharesc>
        </models>
        <resources>
            <socialsharesc_setup>
                <setup>
                    <module>Soclever_Socialsharesc</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </socialsharesc_setup>
            <socialsharesc_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </socialsharesc_write>
            <socialsharesc_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </socialsharesc_read>
        </resources>
		<blocks>
			<socialsharesc>
				<class>Soclever_Socialsharesc_Block</class>
			</socialsharesc>
		</blocks>
		<helpers>
			<socialsharesc>
				<class>Soclever_Socialsharesc_Helper</class>
			</socialsharesc>
		</helpers>
	</global>
</config>