<?xml version="1.0"?>
<config>
	<tabs>
		<socialsharescsetting translate="label" module="socialsharesc">
            <label>Soclever Social</label>
            <sort_order>1</sort_order>
        </socialsharescsetting>
    </tabs>
    <sections>
		<socialsharesc_options translate="label" module="socialsharesc">
			<label>Soclever Social Share</label>
			<tab>socialsharescsetting</tab>
			<frontend_type>text</frontend_type>
			<sort_order>1000</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>    
			<groups>
				<apisettings translate="label">
					<label>SocleverSocial Sharing API Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store> 
					<fields>
						<scss_appid translate="label">
							<label>Soclever API Key</label>
							<frontend_type>text</frontend_type>
							<comment><![CDATA[ Socelver API ]]></comment>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</scss_appid>
                        <scss_appsecret translate="label">
							<label>Soclever API Secret</label>
							<frontend_type>text</frontend_type>
							<comment><![CDATA[ Socelver API Secret ]]></comment>
							<sort_order>16</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</scss_appsecret>
                        <scss_siteid translate="label">
							<label>Soclever Client ID</label>
							<frontend_type>text</frontend_type>
							<comment><![CDATA[ Socelver Client ID ]]></comment>
							<sort_order>17</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</scss_siteid>
                        <scss_validdomain translate="label">
							<label>Soclever Valid Domain</label>
							<frontend_type>text</frontend_type>
							<comment><![CDATA[ Socelver Valid Domain ]]></comment>
							<sort_order>18</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</scss_validdomain>
					</fields>

				</apisettings>
	<displaysettings translate="label">
					<label>SocleverSocial Display Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store> 
					<fields>
           <socialproviders translate="label">
           <label>Select Providers</label>
           <frontend_type>multiselect</frontend_type>    
            <source_model>socialsharesc/providers::getproviders</source_model>   
           <sort_order>208</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </socialproviders>
          <countersetting translate="label">
           <label>Counter Display</label>
           <frontend_type>radios</frontend_type>    
            <source_model>socialsharesc/providers::getcounters</source_model>   
           <sort_order>207</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </countersetting>
          <gapsetting translate="label">
           <label>Gap</label>
           <frontend_type>select</frontend_type>    
            <source_model>socialsharesc/providers::getgaps</source_model>   
           <sort_order>206</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </gapsetting>
          <iconsize translate="label">
           <label>Icon Size</label>
           <frontend_type>radios</frontend_type>    
            <source_model>socialsharesc/providers::geticonsize</source_model>   
           <sort_order>208</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </iconsize>
          <displaystyle translate="label">
           <label>Display Style</label>
           <frontend_type>radios</frontend_type>    
            <source_model>socialsharesc/providers::displaystyle</source_model>
              
           <sort_order>197</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </displaystyle>
          <yourstyle translate="label">
           <label>Icon Style</label>
           <frontend_type>select</frontend_type>    
            <source_model>socialsharesc/providers::yourstyle</source_model>  
            <frontend_model>socialsharesc/adminhtml_system_config_form_field_customopt1toggle</frontend_model> 
           <sort_order>197</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </yourstyle>
          <yourstylefb translate="label">
           <label>Facebook</label>
           <frontend_type>text</frontend_type>
           <sort_order>198</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </yourstylefb>
          <yourstylegp translate="label">
           <label>Google+</label>
           <frontend_type>text</frontend_type>
           <sort_order>199</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </yourstylegp>
          <yourstyletw translate="label">
           <label>Twitter</label>
           <frontend_type>text</frontend_type>
           <sort_order>200</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </yourstyletw>
          <yourstyleli translate="label">
           <label>LinkedIN</label>
           <frontend_type>text</frontend_type>
           <sort_order>201</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </yourstyleli>
          <yourstylepi translate="label">
           <label>Pinterest</label>
           <frontend_type>text</frontend_type>
           <sort_order>202</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </yourstylepi>
          <yourstylewa translate="label">
           <label>Whatsapp</label>
           <frontend_type>text</frontend_type>
           <sort_order>203</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </yourstylewa>
          <yourstylesu translate="label">
           <label>StumbleUpon</label>
           <frontend_type>text</frontend_type>
           <sort_order>204</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </yourstylesu>
          <yourstylerd translate="label">
           <label>Reddit</label>
           <frontend_type>text</frontend_type>
           <sort_order>205</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </yourstylerd>
<yourstyletm translate="label">
           <label>Tumblr</label>
           <frontend_type>text</frontend_type>
           <sort_order>206</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </yourstyletm>
           </fields>
	</displaysettings>
    <currentpreview translate="label">
					<label>SocleverSocial Preview</label>
					<frontend_type>text</frontend_type>
					<sort_order>3</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store> 
					<fields>
           <previewshow translate="label">
           <label>Preview</label>                          
             <frontend_model>socialsharesc/adminhtml_positions</frontend_model>
           <sort_order>201</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
          </previewshow>
          </fields>
    </currentpreview>
    <currenthelp translate="label">
					<label>SocleverSocial Share Help</label>
					<frontend_type>text</frontend_type>
					<sort_order>4</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store> 
					<fields>
           <helpshow translate="label">
           <label></label>                          
             <frontend_model>socialsharesc/adminhtml_help</frontend_model> 
              <comment><![CDATA[ ]]></comment>  
           <sort_order>202</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>0</show_in_website>
           <show_in_store>0</show_in_store>
          </helpshow>
          </fields>
    </currenthelp>
	
			</groups> 
		</socialsharesc_options>
		
	</sections>
</config>